mat-card {
    width: 240px;
    max-height: 360px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

mat-card-content p {
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;    
}

mat-card img {
    width: 100%;
}