mat-card {
    width: 240px;
    max-height: 360px;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
}

mat-card-content p {
    height: 80px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

mat-card img {
    width: 100%;
}
